  .navUl{ 
    padding-left:75px;
    width:100%;
    background-color: rgb(9, 94, 116);
  }
  .navLi{
    display:inline-block;
    padding-bottom:10px;
    padding-top:10px;
    padding-right:50px;
    color:white;
    font-size: small;
  }
  .navLi:hover{
    cursor: pointer;
  }
  #divLeft{
    float:left;
    border-left:1px solid  rgb(9, 94, 116);
    border-top:1px solid  rgb(9, 94, 116);
    background-color:white;
    padding-bottom:15px;
    border-radius:5px;
    width: 450px;
    margin-left: 70px;
    margin-top:40px;
    height: auto;
  }
  #divRight{
    float: right;
    border-radius: 3px;
    width: 700px;
    height: 400px;
    margin-top:50px;
    margin-right:70px;
  }
  #contentStyle{
    font-size:small;
    background-color:rgb(207, 240, 237);
    color:black;
    height: 100px;
    border-top:1px solid  rgb(9, 94, 116);
    box-shadow: 1px 1px 5px teal;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left:25px;
    padding-right:25px;
    border-radius:3px;
    text-align:center;
    margin-top:20px;
  }

  div{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  #loginStyle{
     border-top: 1px solid  rgb(9, 94, 116);
     border-left:1px solid  rgb(9, 94, 116);
     border-radius: 5px;
     width: 400px;
     padding-bottom:15px;
     background-color: white;
     
     margin-top: 30px;
     margin-left:150px;
  }
  .subHead{
    background-color: teal;
    color:white;
    margin-top:0px;
    padding:5px;
    font-size: 25px;
  }
  button{
    float:right;
    background:rgb(9, 94, 116);
    color:white;
    border:0px;
    padding:3px;
    margin-right:10px;
    margin-top:10px;
    border-radius: 2px;
  }
  
  button:hover{
      box-shadow: 1px 2px 5px cyan;
      border-radius: 3px;
      padding-top:4px;
      padding-left:4px;
  }

  .errorDisp{
    margin-left: 105px;
  }

  .rowStyle{
      padding:5px;
  }

  input{
      border-top:0px;
      border-right:0px;
      border-left:0px;
  }

  .bold{
    color:rgb(9, 94, 116);
  }