<style>
    .navUl{ 
        padding-left:50px;
        width:100%;
        background-color: rgb(9, 94, 116);
    }
    .navLi{
        display:inline-block;
        padding:5px;
        padding-right:50px;
        color:white;
        font-size: small;
    }
    .navLi:hover{
        color:black;
        background-color:rgb(131, 185, 199);
        cursor:pointer;
    }
    .navBtn{
        float:right;
        border:0px;
        background-color:rgb(241, 88, 32);
        color:white;
        padding:1px;
        padding-left:10px;
        padding-right:10px;
        border-radius:3px;
        margin-right:20px;
        margin-top:5px;
    }
    .navBtn:hover{
        box-shadow:2px 3px 5px red;
    }
    .lenders{
        background-color: white;
        box-shadow:2px 2px 2px gray;
        margin-top:50px;
    }
    .lenderContactNumber{
        float:right;
        text-align: center;
    }
    .lenderButton{
        width:100px;
        border-radius:5px;
        border:0px;
        padding:2px;
        background-color:teal;
        color:white;
    }
    .lenderButton:hover{
        box-shadow:2px 2px 2px #36eb9f;
    }
    .lenderRequest{
        float:right;
        align-content: center;
        text-align:center;
    }
    .lenderContactNumber{
        float:right;
        text-align:center;
    }
    .lenderUsername{
        text-align:center;
        float:right;
    }
    .lenderName{
        float:right;
        text-align:center;
    }
    .lenderSNo{
        text-align:center;
    }
    .errorResponse{
        padding:10px;
        padding-top:12px;
        padding-bottom:15px;
        border-radius:4px;
        color:maroon;
        background-color:lightpink;
    }
    .errorCancel{
        border:0px;
        background-color:lightpink;
        color:maroon;
    }
    .successCancel{
        border:0px;
        background-color:rgb(107, 221, 178);
        color:rgb(2, 59, 59);;
    }
    .successResponse{
        padding:10px;
        padding-top:12px;
        padding-bottom:15px;
        border-radius:4px;
        color:rgb(2, 59, 59);
        background-color: rgb(107, 221, 178);
    }
    .response{
        display: absolute;
        float:right;
        margin-top:0px;
        margin-right:20px;
    }
    .modal-header{
        background-color: teal;
        border-radius: 2px;
        color:white;
        margin-top:0px;
        padding:5px;
        font-size: 25px;
    }
    .modalSubmit{
        float:right;
        background:rgb(9, 94, 116);
        color:white;
        border:0px;
        padding:3px;
        margin-right:10px;
        margin-top:10px;
        margin-bottom: 10px;
        border-radius: 2px;
    }
    .modalSubmit:hover{
        box-shadow: 1px 2px 5px cyan;
        border-radius: 3px;
        padding-top:4px;
        padding-left:4px;
    }
    .modal-crossButton{
        border:0px;
        background-color:teal;
        color:rgb(253, 253, 253);
    }
    .modal-crossButton:hover{
        color:rgb(221, 29, 29);
        border-radius:5px;
    }
    .errorDisp{
        margin-left: 120px;
    }

    .rowStyle{
        padding:5px;
    }

    input{
        border-top:0px;
        border-right:0px;
        border-left:0px;
    }
    .fixedData{
        padding:15px;
    }
    .scroll { 
        height: 400px; 
        overflow-x: hidden; 
        overflow-y: auto; 
        text-align:justify; 
    } 
</style>
<div >
    <div class='navi'>
        <ul class='navUl'>
            <li class='navLi' (click)='navigateNav("user")'><span class="material-icons">home</span>Home</li>
            <li class='navLi' (click)='navigateNav("sentRequests")'><span class="material-icons">call_made</span>Sent Requests</li>
            <li class='navLi' (click)='navigateNav("receivedRequests")'><span class="material-icons">call_received</span>Received Requests</li>
            <li class='navLi' (click)='navigateNav("transactions")'><span class="material-icons">repeat </span>Transactions</li>
            <li class='navLi' (click)='navigateNav("notifications")'><span class="material-icons">notifications</span>Notifications</li>
            <button class='navBtn' (click)="onLogout()">Log-Out</button>
            <button class='navBtn' (click)="refresh()">Lenders</button>
        </ul>
    </div>
    <div *ngIf="responseSuccessNote || responseErrorNote" class='response'>
        <card *ngIf="responseErrorNote" class='errorResponse'>
            {{responseNoteValue}}
            <button (click)="onResponseCancel()" class="errorCancel">&times;</button>
        </card>
        <card *ngIf="responseSuccessNote" class="successResponse">
            {{responseNoteValue}}
            <button (click)="onResponseCancel()" class="successCancel">&times;</button>
        </card>
    </div>
    <div class='container'>
        <div class='lenders'>
            <ul class='lendersList' style="list-style-type: none;">
                <div class='scroll'>
                    <br />
                    <li class='col col-12'>
                        <b>
                            <span class='lenderSNo col-1'>S.No</span>
                            <span class='lenderRequest col-2'>Request</span>
                            <span class='lenderContactNumber col-3'>Contact No</span>
                            <span class='lenderUsername col-3'>Email-Id</span>
                            <span class='lenderName col-3'>Name</span>
                            <hr />
                        </b>
                    </li>
                    <li *ngFor="let lender of lenders; let i=index"  class='col col-md-12'>
                        <span class='lenderSNo col-1'>{{i+1}}</span>
                        <span class='lenderRequest  col-2'><button class=lenderButton (click)="openModalForLoan(lender,template)">Request</button></span>
                        <span class='lenderContactNumber  col-3'>{{lender?.contactNumber}}</span>
                        <span class='lenderUsername  col-3'>{{lender?.username}}</span>
                        <span class='lenderName col-3'>{{lender?.name}}</span>
                        <hr />
                    </li>
                </div>
                
            </ul>
        </div>
    </div>
    <ng-template #template>
        <div>
            <div class='modal-header'>
                <h3 class='modal-headingText'><b>Loan Request</b></h3>
                <button (click)="modalRef.hide()" class='modal-crossButton'><b>&times;</b></button>
            </div>
            <div class='fixedData'>
                <span>
                    <span class='col-sm-5'>Lender: </span><b class=' col-sm-7'>{{requestingLender.name.toUpperCase()}}</b>
                </span>
                <br />
                <span>
                    <span class='col-sm-5'>Interest: </span><b class=' col-sm-7'>6%<small> (fixed)</small></b>
                </span>
            </div>
            <hr>
            <form class="col-12" [formGroup]="loanRequestForm" (ngSubmit)="onLoadRequestSubmit()">
                <div class='form-row rowStyle'>
                    <label class='col-sm-3 col-form-label'>Amount:</label>
                    <input formControlName="loanAmount" [class.is-invalid]="loanRequestForm.get('loanAmount').touched && loanRequestForm.get('loanAmount').invalid"
                     type='number' class='form-control col-sm-9' placeholder="Rupees">
                    <div class='errorDisp' *ngIf="loanRequestForm.get('loanAmount').invalid && loanRequestForm.get('loanAmount').touched">
                        <small class='text-danger' *ngIf=" loanRequestForm.get('loanAmount').errors?.required">Required</small>
                    </div>
                </div>
                <div class='form-row rowStyle'>
                    <label class='col-sm-3 col-form-label'>Tenure:</label>
                    <input formControlName="tenure" [class.is-invalid]="loanRequestForm.get('tenure').touched && loanRequestForm.get('tenure').invalid"
                     type='number' class='form-control col-sm-9' placeholder="Months">
                    <div class='errorDisp' *ngIf="loanRequestForm.get('tenure').invalid && loanRequestForm.get('tenure').touched">
                        <small class='text-danger' *ngIf=" loanRequestForm.get('tenure').errors?.required">Required</small>
                    </div>
                </div>
                <div class='form-row rowStyle'>
                    <label class='col-sm-3 col-form-label'>Reason:</label>
                    <textarea class="form-control col-sm-9" formControlName="loanReason" rows="3"></textarea>
                    <div class='errorDisp' *ngIf="loanRequestForm.get('loanReason').invalid && loanRequestForm.get('loanReason').touched">
                        <small class='text-danger' *ngIf=" loanRequestForm.get('loanReason').errors?.required">Required</small>
                    </div>
                </div>
                <small class='text-danger errorDisp'>{{LoanRequestInvalidError}}</small>
                <button type="submit" class='modalSubmit'>Request</button>
                <pre>
                </pre>
            </form>
        </div>
    </ng-template>
</div>