
<div >
    <div class='navi'>
        <ul class='navUl'>
            <li class='navLi' (click)='navigateNav("user")'><span class="material-icons">home</span>Home</li>
            <li class='navLi' (click)='navigateNav("sentRequests")'><span class="material-icons">call_made</span>Sent Requests</li>
            <li class='navLi activeElement' (click)="refresh()"><span class="material-icons">call_received</span>Received Requests</li>
            <li class='navLi' (click)='navigateNav("transactions")'><span class="material-icons">repeat </span>Transactions</li>
            <li class='navLi' (click)='navigateNav("notifications")'><span class="material-icons">notifications</span>Notifications</li>
            <button class='navBtn' (click)="onLogout()">Log-Out</button>
            <button class='navBtn' (click)='navigateNav("lenders")' >Lenders</button>
        </ul>
    </div>
    <div *ngIf="responseSuccessNote || responseErrorNote" class='response'>
        <card *ngIf="responseErrorNote" class='errorResponse'>
            {{responseNoteValue}}
            <button (click)="onResponseCancel()" class="errorCancel">&times;</button>
        </card>
        <card *ngIf="responseSuccessNote" class="successResponse">
            {{responseNoteValue}}
            <button (click)="onResponseCancel()" class="successCancel">&times;</button>
        </card>
    </div>
    <div class='container'>
        <div class='requests'>
            <ul class='requestsList' style="list-style-type: none;">
                <br />
                <li class='col col-12'>
                    <b>
                        <span class='requestSNo col-1'>S.No</span>
                        <span class='requestStatus col-4'>Status</span>
                        <span class='requestTenure col-2'>Tenure</span>
                        <span class='requestAmount col-2'>Amount</span>
                        <span class='requestName col-3'>Name</span>
                        <hr />
                    </b>
                </li>
                <div class="scroll">
                <li *ngFor="let request of receivedRequests; let i=index"  class='col col-md-12'>
                   <span>
                        <span class='requestSNo col-1'>{{i+1}}</span>
                        <span class='requestStatus  col-4'>
                            <span *ngIf="request?.requestStatus == 1">
                                <button (click)="onAcceptRequest(request,acceptTemplate)" class='acceptButton'>Accept</button>
                                <button (click)="onRejectRequest(request)" class='rejectButton'>Reject</button>
                            </span>
                            <span *ngIf="request?.requestStatus == 4">
                                <span class='text-danger'><b> Requested Repay </b></span>
                                <button (click)="onRepayDialog(request,repayTemplate)" class='acceptButton'>Repay</button> 
                            </span>
                            <span *ngIf="request?.requestStatus == 5">
                                <span class="text-danger"><b>Repaid</b></span>
                            </span>
                        </span>
                        <span class='requestTenure  col-2'>{{request?.tenure}}<small> (months)</small></span>
                        <span class='requestAmount  col-2'><span>&#x20B9;</span>{{request?.loanAmount}}/-</span>
                        <span class='requestName col-3'>{{request?.lenderName}}</span>
                    </span>
                    <hr />
                </li>
                </div>
                <br />
            </ul>
        </div>
    </div>
    <ng-template #acceptTemplate>
        <div>
            <div class='modal-header'>
                <h3 class='modal-headingText'><b>Loan Acceptance Confirmation</b></h3>
                <button (click)="modalRef.hide()" class='modal-crossButton'><b>&times;</b></button>
            </div>
            <div class='fixedData'>
                <b>To:</b>
                <br />
                <br />
                <div class='acceptRequestBox'>
                    <span>
                        <span class=' col-sm-7'>{{acceptedRequest?.borrowerName.toUpperCase()}}</span>
                    </span>
                    <br />
                    <span>
                        <span class=' col-sm-7'>xxxxxx{{borrowingBank?.accountNumber.slice(-4)}}</span>
                    </span>
                    <br />
                    <span>
                        <span class=' col-sm-7'>{{borrowingBank?.bankName}}, {{borrowingBank?.branch}}</span>
                    </span>
                    <br />
                    <span>
                        <span class=' col-sm-7'>{{borrowingBank?.ifscCode}}</span>
                    </span>
                </div>
                <br />
                <b>Loan Details</b>
                <br />
                <br />
                <div class="acceptRequestBox">
                    <span>
                        <span class='col-sm-5'>Amount: </span><span class='rightFloat col-sm-3'><span>&#x20B9;</span>{{acceptedRequest?.loanAmount}}/-</span>
                    </span>
                    <br />
                    <span>
                        <span class='col-sm-5'>Interest: </span><b class='rightFloat col-sm-3'>6%<small> (fixed)</small></b>
                    </span>
                    <br />
                    <span>
                        <span class='col-sm-5'>Tenure: </span><b class='rightFloat col-sm-3'>{{acceptedRequest?.tenure}}</b><small>(months)</small>
                    </span>
                    <br />
                    <span>
                        <span class='col-sm-5'>Reason: </span><small class='col-sm-7'>{{acceptedRequest?.loanReason}}</small>
                    </span>
                </div>
               <br />
                <button class='modalSubmit' (click)="onConfirmPayment(acceptedRequest)">Confirm Payment</button>
               <br />
            </div>
        </div>
    </ng-template>
    <ng-template #repayTemplate>
        <div>
            <div class='modal-header'>
                <h3 class='modal-headingText'><b>Repay Confirmation</b></h3>
                <button (click)="modalRef.hide()" class='modal-crossButton'><b>&times;</b></button>
            </div>
            <div class='fixedData'>
                <b>To:</b>
                <br />
                <br />
                <div class='repaySubBox'>
                    <span>
                        <span class=' col-sm-7'>{{repayRequest?.lenderName.toUpperCase()}}</span>
                    </span>
                    <br />
                    <span>
                        <span class=' col-sm-7'>xxxxxx{{lenderBank?.accountNumber.slice(-4)}}</span>
                    </span>
                    <br />
                    <span>
                        <span class=' col-sm-7'>{{lenderBank?.bankName}}, {{lenderBank?.branch}}</span>
                    </span>
                    <br />
                    <span>
                        <span class=' col-sm-7'>{{lenderBank?.ifscCode}}</span>
                    </span>
                </div>
                <br />
                <b>Loan Details</b>
                <br />
                <br />
                <div class="repaySubBox">
                    <span>
                        <span class='col-sm-5'>Amount Borrowed: </span><span class='rightFloat col-sm-3'><span>&#x20B9;</span>{{repayRequest?.loanAmount}}/-</span>
                    </span>
                    <br />
                    <span>
                        <span class='col-sm-5'>Requested Tenure: </span><b class='rightFloat col-sm-3'>{{repayRequest?.tenure}}</b><small>(months)</small>
                    </span>
                    <br />
                </div>
                <br />
                <div class="repaySubBox">
                    <span>
                        <span class='col-sm-5'>Interest: </span><span class='rightFloat col-sm-3'><span>&#x20B9;</span>{{calculateInterest(repayRequest?.loanAmount,repayRequest?.tenure,repayRequest?.loanAcceptedDate)}}/-</span>
                    </span>
                    <br />
                    <span>
                        <span class='col-sm-5'>penalty: </span><span class='rightFloat col-sm-3'><span>&#x20B9;</span>{{fine}}/-</span>
                    </span>
                </div>
                <br />
                <div class="repaySubBox">
                    <span class='col-sm-5'>Total Amount: </span><span class='rightFloat col-sm-3'><span>&#x20B9;</span>{{totalAmount}}/-</span>
                </div>
               <br />
                <button class='modalSubmit' (click)="onConfirmRepayment(repayRequest)">Repay</button>
               <br />
            </div>
        </div>
    </ng-template>
</div>
