

<div >
    <div class='navi'>
        <ul class='navUl'>
            <li class='navLi' (click)='navigateNav("user")'><span class="material-icons">home</span>Home</li>
            <li class='navLi' (click)='navigateNav("sentRequests")'><span class="material-icons">call_made</span>Sent Requests</li>
            <li class='navLi' (click)='navigateNav("receivedRequests")'><span class="material-icons">call_received</span>Received Requests</li>
            <li class='navLi activeElement' (click)='refresh()'><span class="material-icons">repeat </span>Transactions</li>
            <li class='navLi' (click)='navigateNav("notifications")'><span class="material-icons">notifications</span>Notifications</li>
            <button class='navBtn'  (click)="onLogout()">Log-Out</button>
            <button class='navBtn' (click)='navigateNav("lenders")' >Lenders</button>
        </ul>
    </div>
    <div *ngIf="responseSuccessNote || responseErrorNote" class='response'>
        <card *ngIf="responseErrorNote" class='errorResponse'>
            {{responseNoteValue}}
            <button (click)="onResponseCancel()" class="errorCancel">&times;</button>
        </card>
        <card *ngIf="responseSuccessNote" class="successResponse">
            {{responseNoteValue}}
            <button (click)="onResponseCancel()" class="successCancel">&times;</button>
        </card>
    </div>
    <div class='container'>
        <div class='buttonGroup col-12'>
            <b>
                <button class='col-6' [class.toggleClicked]="classBorrow" [class.toggleUnClicked]="classLend" (click)="onShowBorrowed()">Borrowed Transactions</button>
                <button class='col-6' [class.toggleClicked]="classLend" [class.toggleUnClicked]="classBorrow" (click)="onShowLended()">Lended Transactions</button>
            </b>
        </div>
        <div *ngIf="classLend" class='transactions'>
            <ul class='transactionsList' style="list-style-type: none;">
                <br />
                <li class='col col-12'>
                    <b>
                        <span class='transactionSNo col-1'>S.No</span>
                        <span class='transactionStatus col-4'>Status</span>
                        <span class='transactionTenure col-2'>Tenure</span>
                        <span class='transactionAmount col-2'>Amount</span>
                        <span class='transactionName col-3'>Name</span>
                        <hr />
                    </b>
                </li>
                <div class="scroll">
                    <li *ngFor="let transaction of lendedTransactions; let i=index"  class='col col-md-12'>
                        <span class='transactionSNo col-1'>{{i+1}}</span>
                        <span class='transactionStatus  col-4'>
                            <span>
                                <span *ngIf="transaction.requestStatus == 5" class='text-danger'><b>Repaid</b></span>
                                <span *ngIf="transaction.requestStatus == 4" class='text-primary'><b>Repay Requested</b></span>
                                <span *ngIf="transaction.requestStatus == 2" class='text-success'>
                                    <b>Paid</b>
                                    <button class='repayButton' (click)="onRequestRepay(transaction)">Request Repay</button>
                                </span>
                            </span>
                        </span>
                        <span class='transactionTenure  col-2'>{{transaction?.tenure}}<small> (months)</small></span>
                        <span class='transactionAmount  col-2'><span>&#x20B9;</span>{{transaction?.loanAmount}}/-</span>
                        <span class='transactionName col-3'>{{transaction?.borrowerName}}</span>
                            <hr />
                    </li>
                </div>
            </ul>
        </div>
        <div *ngIf="classBorrow" class='transactions'>
            <ul class='transactionsList' style="list-style-type: none;">
                <br />
                <li class='col col-12'>
                    <b>
                        <span class='transactionSNo col-1'>S.No</span>
                        <span class='transactionStatus col-4'>Status</span>
                        <span class='transactionTenure col-2'>Tenure</span>
                        <span class='transactionAmount col-2'>Amount</span>
                        <span class='transactionName col-3'>Name</span>
                        <hr />
                    </b>
                </li>
                <div class="scroll">
                    <li *ngFor="let transaction of borrowedTransactions; let i=index"  class='col col-md-12'>
                        <span class='transactionSNo col-1'>{{i+1}}</span>
                        <span class='transactionStatus  col-4'>
                            <span>
                                <span *ngIf="transaction.requestStatus == 5" class='text-danger'><b>Repaid</b></span>
                                <span *ngIf="transaction.requestStatus == 4" class='text-primary'>
                                    <b>Repay Requested</b>
                                    <button class='repayButton'  (click)="onRepayDialog(transaction,repayTemplate)">Repay</button>
                                </span>
                                <span *ngIf="transaction.requestStatus == 2" class='text-success'>
                                    <b>Paid</b>
                                    <button class='repayButton' (click)="onRepayDialog(transaction,repayTemplate)">Repay</button>
                                </span>
                            </span>
                        </span>
                        <span class='transactionTenure  col-2'>{{transaction?.tenure}}<small> (months)</small></span>
                        <span class='transactionAmount  col-2'><span>&#x20B9;</span>{{transaction?.loanAmount}}/-</span>
                        <span class='transactionName col-3'>{{transaction?.lenderName}}</span>
                         <hr />
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <ng-template #repayTemplate>
        <div>
            <div class='modal-header'>
                <h3 class='modal-headingText'><b>Repay Confirmation</b></h3>
                <button (click)="modalRef.hide()" class='modal-crossButton'><b>&times;</b></button>
            </div>
            <div class='fixedData'>
                <b>To:</b>
                <br />
                <br />
                <div class='repaySubBox'>
                    <span>
                        <span class=' col-sm-7'>{{repayRequest?.lenderName.toUpperCase()}}</span>
                    </span>
                    <br />
                    <span>
                        <span class=' col-sm-7'>xxxxxx<small>{{lenderBank?.accountNumber.slice(-4)}}</small></span>
                    </span>
                    <br />
                    <span>
                        <span class=' col-sm-7'>{{lenderBank?.bankName}}, {{lenderBank?.branch}}</span>
                    </span>
                    <br />
                    <span>
                        <span class=' col-sm-7'>{{lenderBank?.ifscCode}}</span>
                    </span>
                </div>
                <br />
                <b>Loan Details</b>
                <br />
                <br />
                <div class="repaySubBox">
                    <span>
                        <span class='col-sm-5'>Amount Borrowed: </span><span class='rightFloat col-sm-3'><span>&#x20B9;</span>{{repayRequest?.loanAmount}}/-</span>
                    </span>
                    <br />
                    <span>
                        <span class='col-sm-5'>Requested Tenure: </span><b class='rightFloat col-sm-3'>{{repayRequest?.tenure}}</b><small>(months)</small>
                    </span>
                    <br />
                </div>
                <br />
                <div class="repaySubBox">
                    <span>
                        <span class='col-sm-5'>Interest: </span><span class='rightFloat col-sm-3'><span>&#x20B9;</span>{{calculateInterest(repayRequest?.loanAmount,repayRequest?.tenure,repayRequest?.loanAcceptedDate)}}/-</span>
                    </span>
                    <br />
                    <span>
                        <span class='col-sm-5'>penalty: </span><span class='rightFloat col-sm-3'><span>&#x20B9;</span>{{fine}}/-</span>
                    </span>
                </div>
                <br />
                <div class="repaySubBox">
                    <span class='col-sm-5'>Total Amount: </span><span class='rightFloat col-sm-3'><span>&#x20B9;</span>{{totalAmount}}/-</span>
                </div>
               <br />
                <button class='modalSubmit' (click)="onConfirmRepayment(repayRequest)">Repay</button>
               <br />
            </div>
        </div>
    </ng-template>
</div>
